@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --default-link-color: #569cd9;
    /*# 0366d6*/
    --default-color-theme: #ff5722;
    --default-border-color: #c3c3c3;
    --default-red-color: #fd2a1b;
    --default-blue-color: #0366d6;
    --default-yellow-color: #f9b10a;
    --default-orange-color: #ff5722;
    --secondary-yellow-color: #ffc107;
    --default-green-color: #8bc34a;
    --default-editor-bg-color: #242424;
    --second-border-color: #242424;
    --default-editor-color: #fff;
    --default-heading-color: #3f51b5;
    --editor-second-color: #1e1e1e;
    --border-sides-radius: 5px;
    --editor-number-color: #767676;
    --window-size-sm: 260px;
    --window-size-mid: 400px;
    --window-size-large: 650px;
    --active-window-size: var(--window-size-sm);
    --window-toggle-btn-radius: 8px;
    --window-toggle-btn-height: 77px;
    --window-toggle-btn-width: 81px;
    --window-toggle-btn-font-size: 11px;
    --window-toggle-btn-icon-width: 51px;
    --window-toggle-btn-icon-margin-top: 13px;
    --window-toggle-btn-text-margin-bottom: 9px;
    --carousel-indicator-color: #d7d3d3;
    --carousel-indicator-active-color: #565656;
    --custom-width: 70%;
    --div-margin-top: 30px;
    --lang-container-min-height: 19rem;
    --language-item-container-width: 14rem;
}


/* width */

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

::-webkit-scrollbar-track {
    /* background: #66645f; */
    background-color: transparent;
    padding: 4px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #777777;
    border-radius: 50px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #474747;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a,
.link {
    color: var(--default-link-color);
    text-decoration: none;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 90vw;
    margin: 0 auto;
    box-sizing: border-box;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* padding: 0px 5px; */
    padding-top: 11px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1500;
    height: 45px;
}

.header.sticky {
    box-shadow: 0px 0px 7px #e7e7e7;
}

.header .site-name {
    font-size: 1.2rem;
    color: #000;
    margin: 0;
    padding: 0;
    cursor: pointer;
    margin-left: 13px;
}

.header .site-name:hover {
    color: var(--default-color-theme);
}

.nav-menu-icons-container {
    z-index: 2000;
    margin-right: 10px;
    display: none;
    flex-direction: column;
}

.nav-menu-icon {
    width: 26px;
    height: 4px;
    background-color: #000;
    margin-top: 3px;
    transition: all 1s;
    border-radius: 375px;
}

.nav-menu-icon.first.open {
    transition: all 1s;
    transform: rotate( -45deg) translate(-10px);
    background-color: #fff;
}

.nav-menu-icon.second {
    transition: all 0.3s;
    opacity: 1;
}

.nav-menu-icon.second.open {
    transition: all 0.3s;
    opacity: 0;
    background-color: #fff;
}

.nav-menu-icon.third.open {
    transition: all 1s;
    transform: rotate( 45deg) translate(-10px);
    background-color: #fff;
}

.header .nav {
    display: flex;
    /* change back to flex*/
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header .nav-menu {
    /* display: none; */
    opacity: 0;
    pointer-events: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--default-color-theme);
    border-radius: 100px 0% 0% 100px;
    padding: 26px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    /* padding: 54px; */
    transition: all 2s;
    transform: translateX(100%);
    overflow: hidden;
}

.header .nav-menu.open {
    transition: all 1s;
    /* display: flex; */
    opacity: 1;
    pointer-events: all;
    transform: translateX(0%);
}

.nav-menu .nav-item a {
    color: #fff;
}

.nav-menu .nav-item a:hover {
    color: #fff;
    border-bottom: 2px solid #fff;
}

.nav-item {
    padding: 0.3rem 1rem;
    border-bottom: 2px solid transparent;
}

.nav-item:hover {
    box-sizing: border-box;
    border-bottom: 2px solid var(--default-color-theme);
    cursor: pointer;
}

.nav-item:hover a {
    color: var(--default-color-theme);
}

.nav-item a {
    /* color: #000;6 */
    font-size: 1rem;
}

.big-banner {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-text {
    font-size: 2rem;
}

.about-me-container {
    width: var(--custom-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 217px;
    margin: 0 auto;
}

.about-me-img-container {
    border: 3px solid #000;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: #fff;
    z-index: 100;
    position: absolute;
    top: -3.5rem;
    /* left: -50px; */
}

.about-me-name {
    font-size: 41px;
    margin-top: 24px;
}

.resume-container {
    margin: 0px auto;
    margin-top: var(--div-margin-top);
    width: 80%;
    /* height: 600px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.heading-text {
    font-size: 2.2rem;
    color: var(--default-heading-color);
    padding: 0;
    margin: 0;
    margin-bottom: 13px;
    cursor: pointer;
}

.heading-text:hover {
    color: var(--default-color-theme);
}

.resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 100%; */
    padding: 0.5rem;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
}

.git-container {
    color: #fff;
    background-color: #161b22;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    width: 200px;
    margin: 3px;
    border-radius: 5px;
    transition: background-color 1s;
}

.git-container:hover {
    border: 1px solid #161b22;
    background-color: #fff;
    border-radius: 7px;
    /* transition: background-color 1s; */
}

.git-container:hover .git-text {
    color: #161b22;
}

.git-container:hover .git-svg {
    fill: #161b22;
}

.git-container .git-svg {
    fill: #fff;
    transition: fill 1s;
    margin: 0 15px;
}

.git-text {
    color: #fff;
    text-decoration: none;
    flex: 1;
    font-size: 27px;
    transition: color 1s;
}

.git-links-container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    margin-top: 81px;
    align-items: flex-start;
    justify-content: center;
}

.git-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%
}

.about-me-img-container:hover .about-me-img {
    display: none;
}

.about-me-img-container {
    /* display: none; */
    /* width: 100%;
    height: 100%; */
    border-radius: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-img-linkedin {
    display: none;
}

.about-me-img-container:hover .about-me-img-linkedin {
    display: flex;
}

.about-me-img-container:hover {
    box-shadow: 0px 0px 10px #000;
    cursor: pointer;
}

.about-me-img {
    width: 100%;
    height: 100%;
    border-radius: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #000;
    border-radius: 1rem;
    padding: 1rem;
    min-height: 200px;
    /* padding-top:63px; */
}

.about-me-description {
    width: 100%;
    text-align: justify;
    color: var(--default-color-theme);
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px;
    width: 80%;
    margin: 0 auto;
}

.contact-img-container {
    border: 3px solid #000;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: #fff;
    margin: 20px 0px;
    display: Flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s;
}

.contact-img {
    width: 100%;
    height: 100%;
    border-radius: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-img-container:hover {
    box-shadow: 0px 0px 10px #000;
    cursor: pointer;
}

.contact-img-container:hover .contact-img {
    display: none;
}

.contact-img-linkedin {
    display: none;
    transition: all 1s;
}

.contact-img-container:hover .contact-img-linkedin {
    display: flex;
}

.contact-btn {
    background-color: #E93535;
    color: #fff;
    width: 72%;
    padding: 8px;
    text-align: center;
    border-radius: 4px;
    margin-top: 7px;
    cursor: pointer;
    transition: all .2s;
    text-decoration: none;
}

.contact-btn:hover {
    box-shadow: 0px 0px 10px #000;
    border-radius: 14px 0px 14px 0px;
}

.projects-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.project-gallery {}

.languages-gallery-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    /* margin: 20px 0px; */
}

.languages-container {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    overflow: hidden;
    padding: 17px;
    position: relative;
    padding-bottom: 40px;
}

.languages-container-inner {
    display: flex;
    flex-direction: row;
    width: 50%;
    /* justify-content: space-evenly; */
    transform: translateX(var(--language-item-container-width));
    /* white-space: nowrap; */
    transition: transform 0.3s;
}

.language-item-container {
    width: var(--language-item-container-width);
    min-height: var(--lang-container-min-height);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid #e3e3e3; */
    padding: 7px;
    position: relative;
    padding: 5px;
    box-shadow: 0px 0px 3px #0000005c;
    border-radius: 13px;
    margin-right: 12px;
}

.language-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px solid #d9d9d9;
    border-radius: 50px;
    box-shadow: 0px 0px 3px #0000005c;
    margin-top: 1.3rem;
    transition: border-radius .3s;
}

.language-item-lang-img {
    width: 50%;
    height: 50%;
}

.language-item-icon:hover {
    border-radius: 20px;
}

.language-item-icon:hover .language-item-git-img {
    display: flex;
}

.language-item-icon:hover .language-item-lang-img {
    display: none;
}

.language-item-git-img {
    display: none;
}

.language-item-name {
    font-size: 1.2rem;
}

.language-item-percentage {
    text-align: end;
    padding-right: 10px;
    color: #000;
}

.language-item-detail {
    min-height: 100px;
    width: 90%;
    background-color: #f3f3f3;
    padding: 4px 7px;
    font-size: .81rem;
    color: #564e4e;
    border-radius: 4px;
    /* white-space: normal; */
}

.language-item-progress-bar-background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 26px;
    background: #cbcbcb;
}

.language-item-progress-bar-background .language-item-progress {
    height: 100%;
    border-radius: 0px 50px 50px 0px;
    width: 0;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.footer-container {
    /* width: 100%; */
    background-color: var(--default-editor-bg-color);
    padding: 20px 7px;
    margin-top: 12px;
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    justify-items: center;
    align-content: center;
}

.footer-content-left,
.footer-content-center,
.footer-content-right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-content-left span,
.footer-content-center span {
    padding: 7px;
    border-bottom: 2px solid transparent;
    text-align: justify;
    width: 100%;
}

.footer-content-left span:hover,
.footer-content-center span:hover {
    border-bottom: 2px solid var(--default-color-theme);
    /* color: var(--default-color-theme); */
    cursor: pointer;
}

.footer-content-left span:hover .footer-url,
.footer-content-center span:hover .footer-url {
    color: var(--default-color-theme);
}

.footer-url {
    /* color: var(--default-color-theme); */
    color: #fff;
}

.App {
    width: 100vw;
    height: 100vh;
}

.window-open-button {
    background-color: var(--default-editor-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(var(--window-toggle-btn-width));
    height: calc(var(--window-toggle-btn-height));
    color: #fff;
    border-radius: var(--window-toggle-btn-radius);
    font-size: 14px;
    transition: height 1s cubic-bezier(0, 1.22, 1, 1);
    transition: background-color 1s cubic-bezier(0, 1.22, 1, 1);
    transition: border 1s cubic-bezier(0, 1.22, 1, 1);
    /* padding: 13px; */
}

.open-button-icon {
    width: var(--window-toggle-btn-icon-width);
    padding: 0px;
    margin: 0px;
    margin-top: var(--window-toggle-btn-icon-margin-top);
    transition: width 1s cubic-bezier(0, 1.22, 1, 1);
}

.open-button-text {
    font-size: var(--window-toggle-btn-font-size);
    margin-bottom: var(--window-toggle-btn-text-margin-bottom);
    transition: font-size 1s cubic-bezier(0, 1.22, 1, 1);
}

.window-header {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--second-border-color);
    padding: 8px;
    border-bottom: none;
    border-top-left-radius: var(--border-sides-radius);
    border-top-right-radius: var(--border-sides-radius);
    background-color: var(--default-editor-bg-color);
    color: var(--default-editor-color);
    overflow: hidden;
}

.header-icon {
    width: 24px;
    height: 21px;
}

.window-header-center {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    height: 100%;
    color: var(--default-editor-color);
}

.window-header-button {
    width: 62px;
    /* width: 100%; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.window-header-button button {
    border-radius: 50%;
    border: none;
    outline: none;
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.header-left {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    width: 100%;
    /* overflow: hidden; */
}

.window-name {
    margin-left: 5px;
}

.content-window {
    /* min-height:200px; */
    /* height: 200px; */
    height: 100%;
    overflow-y: scroll;
    border: 1px solid var(--second-border-color);
    border-bottom-left-radius: var(--border-sides-radius);
    border-bottom-right-radius: var(--border-sides-radius);
    background-color: var(--editor-second-color);
    color: var(--default-editor-color);
    /* background: repeating-linear-gradient(var(--default-editor-bg-color), var(--default-editor-bg-color) 13.9%, var(--editor-second-color) -2.9%, var(--editor-second-color) 28%); */
    line-height: 1.7;
    display: flex;
    flex-direction: row;
    padding-right: 5px;
}

.content-window-number {
    margin: 0px 2px;
    text-align: right;
    color: var(--editor-number-color)
}

.content-window-line {
    width: 2px;
    background: var(--second-border-color);
    margin: 0 6px;
}

.window-line-num {
    font-size: 12px;
    margin-left: 3px;
}

.empty-space {
    height: 40px;
    width: 100%;
}

.close-icon {
    background-color: var(--default-red-color);
    color: var(--default-red-color);
}

.mini {
    background-color: var(--default-yellow-color);
    color: var(--default-yellow-color);
}

.resize-icon {
    background-color: var(--default-green-color);
    color: var(--default-green-color);
}

.hidden {
    display: none;
}

.box {
    width: 400px;
    height: 210px;
    /* background-color: red; */
    transition: height 1.4s cubic-bezier(0, 1.22, 1, 1);
    /* overflow-y: scroll; */
}

.box.sm {
    height: 180px;
}

.box.resize {
    height: 376px;
}

.box.close-window,
.box.sm.close-window,
.box.resize.close-window {
    width: calc(var(--window-toggle-btn-width));
    height: calc(var(--window-toggle-btn-height));
    transition: width 1s cubic-bezier(0, 1.22, 1, 1);
    color: var(--default-editor-bg-color);
    padding: 0px;
    margin: 0px;
}

.close-window .content-window {
    height: 100%;
    transition: height 1s cubic-bezier(0, 1.22, 1, 1);
    overflow: hidden;
    color: var(--default-editor-bg-color);
    display: none;
}

.close-window .window-header {
    display: flex;
    flex-direction: column;
    border-radius: var(--window-toggle-btn-radius);
    width: 100%;
    height: 100%;
    align-items: center;
}

.close-window .window-header .header-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.close-window .window-header .header-left .window-name {
    font-size: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    width: 100%;
    margin-top: 4px;
}

.close-window .header-left .header-icon {
    width: var(--window-toggle-btn-icon-width);
    /* height: 40px; */
    transition: height 1s cubic-bezier(0, 1.22, 1, 1);
}

.close-window .window-header-button {
    height: 5px;
    transition: height 3s cubic-bezier(0, 1.22, 1, 1);
}

.close-window .content-window-number {
    color: var(--default-editor-bg-color)
}

.close-window .window-header-center {
    height: 0px;
}

.close-window .content-window-line {
    color: var(--default-editor-bg-color)
    /* display: none; */
}

.window-iframe {
    outline: none;
    width: 100%;
    height: 100%;
    border: none;
}

.content-window.iframe {
    overflow-y: hidden;
    padding-right: 0px;
    position: relative;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.window-iframe-link {
    color: var(--default-link-color);
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 15px;
    font-size: 12px;
    transition: font-size 1s cubic-bezier(0, 1.22, 1, 1);
}

.window-iframe-link:hover {
    text-decoration: underline;
    font-size: 13px;
    transition: font-size 1s cubic-bezier(0, 1.22, 1, 1);
}

.window-iframe-link:hover .window-iframe-link-icon {
    width: 14px;
    height: 44px;
    transition: width 1s cubic-bezier(0, 1.22, 1, 1);
}

.window-iframe-link-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 11px;
    height: 40px;
    transition: width 1s cubic-bezier(0, 1.22, 1, 1);
}


/* scroll */

.carousel {
    overflow: hidden;
    height: 420px;
    position: relative;
    /* padding: 9px; */
    width: 80vw;
    margin: 0 auto;
    padding-bottom: 42px;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
    height: 100%;
}

.carousel-item {
    display: inline-flex;
    /* align-items: center; */
    justify-content: center;
    height: 100%;
    color: #FFFFFF;
}

.carousel-item-resize {
    align-items: flex-start;
}

.carousel-left-arrow,
.carousel-right-arrow {
    cursor: pointer;
}

.carousel-left-arrow {
    position: absolute;
    z-index: 100;
    left: 3px;
    top: 38%;
}

.carousel-right-arrow {
    position: absolute;
    z-index: 100;
    right: 3px;
    top: 38%;
}

.carousel-indicator-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 11px;
}

.carousel-indicator {
    width: 12px;
    height: 12px;
    background-color: var(--carousel-indicator-color);
    border-radius: 10px 110px 110px 10px;
    margin-left: 3px;
    border: 1px solid #6a6969;
    transition: background-color 1s cubic-bezier(0, 1.22, 1, 1);
    cursor: pointer;
}

.active-carousel-indicator {
    transition: background-color 1s cubic-bezier(0, 1.22, 1, 1);
    background-color: var(--carousel-indicator-active-color);
}


/*  hover effect  */

@media (hover: hover) and (pointer: fine) {
    .window-header-button button:hover {
        color: #fff;
        cursor: pointer;
        text-align: center;
        font-size: 12px;
    }
    .window-open-button:hover {
        box-sizing: border-box;
        cursor: pointer;
        border: 6px solid var(--default-editor-bg-color);
        background-color: transparent;
    }
    .window-open-button:hover .open-button-icon {
        width: 41px;
        color: var(--default-editor-bg-color);
        border: 2px solid var(--default-editor-bg-color);
        border-radius: 5px;
    }
    .window-open-button:hover .open-button-text {
        font-size: 9px;
        color: var(--default-editor-bg-color)
    }
}


/* remove highligh from element on phone */

input,
textarea,
button,
select,
.carousel-left-arrow,
.carousel-right-arrow,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* media query */

@media (max-width:530px) {
    .container {
        width: 100%;
    }
    .heading {
        padding-top: 21px;
    }
    .header .site-name {
        margin-left: 15px;
    }
    .header .nav {
        display: none;
    }
    .nav-menu-icons-container {
        display: flex;
    }
    .git-links-container {
        align-items: center;
    }
    .git-links {
        flex-direction: column;
    }
    .resume-container {
        justify-content: center;
    }
    .resume {
        height: 57%;
    }
    .resume-container {
        align-items: center;
    }
    .window-name {
        font-size: 8px;
    }
    .languages-gallery-container {
        width: 100%;
    }
    .heading-text {
        text-align: center
    }
    .footer-container {
        /* flex-direction: column;
        align-items: flex-start;
        */
        /* padding-left: 50px; */
        grid-template-columns: 1fr 1fr;
    }
    .footer-content-right {
        flex: 1;
        width: 100%;
        margin: 20px 0px;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media (max-width:430px) {
    .box {
        width: 310px;
    }
    .carousel {
        width: 90%;
    }
    .carousel-left-arrow,
    .carousel-right-arrow {
        width: 3rem;
    }
    .about-me-name {
        font-size: 20px;
        margin-top: 43px;
    }
}

@media (max-width:309px) {
    .box {
        width: 273px;
    }
}

@media (max-width:294px) {
    .box {
        width: 90vw;
    }
    .about-me-name {
        font-size: 20px;
    }
}